body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    /* background: url('https://via.placeholder.com/1920x1080') center/cover no-repeat; */
    /* background: url('assets/background.gif') center/cover no-repeat; */
    /* do not works - background: url('assets/background-video.webm') center/cover no-repeat; */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.35);
}

.landing-content {
    text-align: center;
    z-index: 1;
    padding: 7%;
}

#hidden{
    display: none;
}

input{
    border-left: 1vh solid rgba(18, 28, 40, 1);
    background-color: rgba(18, 28, 40, 0.2);
    outline: 0 none;
    color: rgb(244, 244, 252) !important;
    
}
::placeholder {
    color: rgba(190, 190, 185, 1);
}

input[type="checkbox"] {
    width: 1.2rem;
    height: 1.2rem;
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0.1rem;
    border: 0.1rem solid rgba(18, 28, 40, 0.85);
    border-radius: 0.2rem;
}

input[type="checkbox"]::before {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    /* clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%); */
    /* transform: translate(-50%, -50%); */
    clip-path: polygon(10% 40%, 40% 70%, 90% 20%, 80% 10%, 40% 50%, 20% 30%);

    transform: scale(0);
    background-color: whitesmoke /*  rgba(18, 28, 40, 0.85); */
}
input[type="checkbox"]:checked::before {
    transform: scale(1);
}


input[type="number"] {
    background: transparent !important;
    border: 1px solid rgba(18, 28, 40, 0.85);
    width: 18%;
}
input[type="number"]:focus {
    border-color: rgba(18, 28, 40, 0.85); /* Change border color on focus */
    box-shadow: 0 0 0 transparent; /* Add a box shadow on focus */
}
input[type="number"]:hover {
    background-color: rgba(18, 28, 40, 0.85);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="date"] {
    background: transparent !important;
    border: 1px solid rgba(18, 28, 40, 0.85);
    width: 18%;
}
input[type="date"]:focus {
    border-color: rgba(18, 28, 40, 0.85); /* Change border color on focus */
    box-shadow: 0 0 0 transparent; /* Add a box shadow on focus */
}
input[type="date"]:hover {
    background-color: rgba(18, 28, 40, 0.85);
}
/* input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
} */

.display-4{
    font-size: 3rem;
}

.lead{
    font-size: 1.35rem;
    color: rgb(244, 244, 252);
}

p {
    margin-bottom: 0;
}

#nextButton{
    /* background-color: rgba(255, 255, 255, 0.4); */
    background-color: rgba(18, 28, 40, 0.85);
    border-color: rgba(18, 28, 40, 0.85);
}
#nextButton:hover{
    background-color: rgba(18, 28, 40, 0.70);
}

#backButton{
    border-width: 0.15rem;
    border-color: rgba(190, 190, 185, 0.9);
    color: rgba(190, 190, 185, 1);

}
#backButton:hover{
    background-color: rgba(18, 28, 40, 0.2);
}

.lead-small{
    font-size: 1rem;
    color: rgb(244, 244, 252);
}


/* Style for the autocomplete */

.autocomplete-list {
    position: absolute;
    list-style: none;
    padding: unset;
    margin: unset;
    max-height: 20vh;
    overflow-y: scroll;
    z-index: 3;
    /* background-color: rgba(0, 0, 0, 0.4); */
    background-color: rgba(18, 28, 40, 0.85);
}
.autocomplete-list-element {
    padding: 1vh;
    cursor: pointer;
    border-left: 1vh solid rgba(18, 28, 40, 1);

    color: rgb(244, 244, 252) !important;

}

/* Video background */


.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#myVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;
}

/* Header and Footer */

.outer-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    padding: 2.5em;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0,0,0,0.1);
    color: rgba(118, 128, 128, 1);
}

a{
    /* color: rgba(18, 28, 40, 1); */
    color: rgba(118, 128, 128, 1);
}

#liner-box{

    margin-bottom: 3.75rem !important;
}

/* Form Progress */
#form-progress-box {
    display: flex;
    flex-direction: row;
    /* align-items: space-between; */
    justify-content: space-between;
    margin-bottom: 3.75rem !important;
}

#down-buttons-box {
    margin: 0rem !important;
    margin-top: 3.75rem !important;
}

.rotated-icon {
    width: 1.75rem; /* Adjust the size as needed */
    height: 1.75rem; /* Adjust the size as needed */
    transform-origin: center;
    filter: invert(100%) sepia(0%) saturate(750%) hue-rotate(250deg) brightness(80%) contrast(80%);
}

.rotated-icon-active{
    width: 1.75rem; /* Adjust the size as needed */
    height: 1.75rem; /* Adjust the size as needed */
    transform-origin: center;
    filter: invert(100%) sepia(0%) saturate(750%) hue-rotate(250deg) brightness(100%) contrast(100%);
}

.rotated-icon-small{
    width: 1.2rem;
    height: 1.2rem;
}

.rotate-i-2 {
    transform: rotate(-22deg);
}

.rotate-i-3 {
    transform: rotate(-45deg);
}

.rotate-i-4 {
    transform: rotate(-65deg);
}

.rotate-i-5 {
    transform: rotate(-90deg);
}

.progress-line {
    flex: 1;
    height: 1px; /* Adjust the height of the line */
    background-color: rgba(190, 190, 185, 1); /* Adjust the color of the line */
    margin: auto;
    margin-left: 1rem;
    margin-right: 1rem;
}

.progress-line-small{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/* Error */
.error-msg{
    margin-top: 1rem;
    color: red;
    text-align: left;
}

/* Easy Helpers */
.paddingless{
    padding: 0px !important;
}