body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    /* background: url('https://via.placeholder.com/1920x1080') center/cover no-repeat; */
    /* background: url('assets/background.gif') center/cover no-repeat; */
    /* do not works - background: url('assets/background-video.webm') center/cover no-repeat; */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.35);
}

.landing-content {
    text-align: center;
    z-index: 1;
    padding: 10%;
}

#hidden{
    display: none;
}

input{
    border-left: 1vh solid rgba(18, 28, 40, 1);
    background-color: rgba(0, 0, 0, 0.4);
    outline: 0 none;
    color: rgb(244, 244, 252) !important;
}

.lead{
    font-size: 1.35rem;
    color: rgb(244, 244, 252);
}

p {
    margin-bottom: 0;
}

#nextButton{
    /* background-color: rgba(255, 255, 255, 0.4); */
    background-color: rgba(18, 28, 40, 0.85);
    border-color: rgba(18, 28, 40, 0.85);
}

#backButton{
    border-width: 0.175rem;
    border-color: rgba(118, 128, 128, 0.85);
    color: rgba(118, 128, 128, 0.85);

}

.lead-small{
    font-size: 1rem;
    color: rgb(244, 244, 252);
}


/* Style for the autocomplete */

.autocomplete-list {
    position: absolute;
    list-style: none;
    padding: unset;
    margin: unset;
    max-height: 20vh;
    overflow-y: scroll;
    z-index: 3;
    /* background-color: rgba(0, 0, 0, 0.4); */
    background-color: rgba(18, 28, 40, 0.85);
}
.autocomplete-list-element {
    padding: 1vh;
    cursor: pointer;
    border-left: 1vh solid rgba(18, 28, 40, 1);

    color: rgb(244, 244, 252) !important;

}

/* Video background */


.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#myVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;
}

/* Header and Footer */

.outer-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    padding: 2.5em;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0,0,0,0.1);
    color: rgba(118, 128, 128, 1);
}

a{
    /* color: rgba(18, 28, 40, 1); */
    color: rgba(118, 128, 128, 1);
}